body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: rgb(188, 190, 219);
}

.header {
    display: flex;
    background-color: rgb(22, 22, 22);
    justify-content: space-between;
}

.left {
    display: flex;
    align-items: center;
    font-size: 40px;
    color: #ffffff;
    gap: 20px;
    font-weight: bold;
    padding-left: 10px;
}

.right {
    display: flex;
    align-items: center;
    gap: 50px;
    font-size: 29px;
    padding-right: 10px;
}

a.decor {
    text-decoration: none;
    color: white;
}

.section1 {
    display: flex;
    gap: 100px;
    justify-content: center;
    padding: 30px;
    padding-bottom: 80px;
}

.flagheader {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-weight: bold;
    font-size: 30px;
}

.flag1 {
    flex-direction: column;
    display: flex;
    align-items: center;
}

.flag2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flag3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(216, 216, 216);
    padding: 20px;
    flex-direction: column;
}

.container {
    display: flex;
    align-items: right;
}

.quote {
    display: flex;
    padding: 20px;
    font-size: 22px;
    max-width: 900px;
}

.section3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
    flex-direction: column;
}

.signup {
    display: flex;
    border-radius: 10px;
    width: 600px;
    height: 120px;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    justify-content: space-between;
    background-color: rgb(146, 146, 255);
}

.leftsignup {
    max-width: 290px;
}

.rightsignup {
    display: flex;
    border: solid;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border-color: rgb(255, 255, 255);
    border-width: 2px;
    background-color: rgb(126, 126, 255);
    width: 100px;
    height: 30px;
}

.footer {
    display: flex;
    background-color: rgb(65, 65, 65);
    justify-content: space-between;
    margin-top: auto;
}

.kofi {
    display: flex;
    padding: 30px;
    color: white;
}

.faculty {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.faq {
    display: flex;
    align-items: center;
    padding: 30px;
}