body {
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: rgb(188, 190, 219);
}

p {
    font-size: 25px;
    margin: 0;
}

li {
    font-size: 25px;
}

.header {
    display: flex;
    background-color: rgb(22, 22, 22);
    justify-content: space-between;
    color: white;
    box-sizing: border-box;
}

.left {
    display: flex;
    align-items: center;
    font-size: 40px;
    color: #ffffff;
    gap: 20px;
    padding-left: 10px;
    font-weight: bold;
}

.right {
    display: flex;
    align-items: center;
    gap: 50px;
    font-size: 30px;
    padding-right: 10px;
}

a.decor {
    text-decoration: none;
    color: white;
}

.sidebar {
    display: flex;
    background-color: rgb(165, 165, 165);
    justify-content: center;
    padding: 12px;
    box-sizing: border-box;
}

.list {
    display: flex;
    flex-direction: column;
    max-width: fit-content;
}

.listtext {
    font-size: 20px;
    padding-bottom: 20px;
}

.info {
    display: flex;
    box-sizing: border-box;
}

.lore {
    display: flex;
    background-color: rgb(207, 226, 243);
    flex-direction: column;
    box-sizing: border-box;
    padding: 30px;
}

.mainheader {
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-decoration: underline;
    font-size: 35px;
    padding-bottom: 20px;
    display: flex;
}

.infoheader {
    display: flex;
    font-weight: bold;
    font-size: 30px;
    font-style: italic;
    justify-content: center;
    padding: 20px;
}

.subinfo {
    font-weight: bold;
    font-size: 30px;
    padding-top: 35px;
    display: flex;
    flex-shrink: 0;
}

.oic {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.oiclist {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.sigils {
    display: flex;
    flex-direction: column;
}

.element {
    display: flex;
    justify-content: center;
}

.elementtwo {
    display: flex;
    justify-content: center;
    flex-shrink: 0;
}

.sublist {
    font-size: 30px;
    padding-top: 35px;
    padding-left: 50px;
    display: flex;
}










.footer {
    display: flex;
    background-color: rgb(65, 65, 65);
    justify-content: space-between;
    margin-top: auto;
}

.kofi {
    display: flex;
    padding: 30px;
    color: white;
}

.faq {
    display: flex;
    align-items: center;
    padding: 30px;
}

.bold {
    font-weight: bold;
}